.footer_bg {
    background-color: rgb(7, 7, 7);
}

.col > h4 {
    color: aliceblue;
    text-align: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.col > ul {
    list-style: none;
}
.li_color {
    color: rgb(187, 231, 240);
    text-decoration: none;
}
