
/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 36px;
    height: 30px;
    left: 0px;
    top: 0px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #F6DAE4;
 
  }
  
  /* Color/shape of burger icon bars on hover*/
   .bm-burger-bars-hover {
    width: 36px;
    height: 30px;
    background: #050505;
  } 
  
  /* Position and sizing of clickable cross button */
   .bm-cross-button {
    height: 24px;
  }
  
  /* Color/shape of close button cross */
   .bm-cross {
    background: #fcfcfe;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
   .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
  }
   
  /* General sidebar styles */
  .bm-menu {
    background: #F6DAE4;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  } 
  
  /* Morph shape necessary with bubble or elastic */
   /* .bm-morph-shape {
    fill: #ffffff;
  }  */
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #ffffff;
    padding: 0.8em;
  } 
  
  /* Individual item */
  .bm-item {
    margin-bottom: 13px;
    
  }
  
  /* Styling of overlay */
  /* .bm-overlay {
     background: #ef0505; 
  } */

  .menu-item{
    color: black;
    list-style: none;
    text-decoration: none;
  }

    .overlay{
background-color: rgba(0, 0, 0, 0.5);
position: fixed;
left:0;
right:0;
top:0;
bottom:0;
width: 100%;
height: 100%;
font-size: smaller;
  }


.Formbase{
  width:300px;
  height: 600px;
  display:flex;
  border: 2px solid #000;
  flex-direction: column;
  padding: 20px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
border-radius: 10px;
position: fixed;
 top: 40%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgb(251, 251, 253);
}

.n1{
  font-size: 20px;
  color: rgb(11, 11, 11);
  background-color: #F6DAE4;
  /* margin: 5px; */
  display: flex;
  border-color:#F6DAE4;
  justify-content: center;
  }